# Dependencies
/node_modules

# Build artifacts
/build
/.next/
/out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Verification files
/verification
